language: csharp
mono: none
dotnet: 2.0.0
dist: trusty
services:
  - redis-server
script:
 - dotnet build
 - (cd Gofer.NET.Tests && dotnet test)
after_success:
 - bash publish.sh Gofer.NET
 - (cd Gofer.NET.Utils && bash ../publish.sh Gofer.NET.Utils)
cache:
  directories:
  - $HOME/.nuget